language: clojure

before_install: pip3 install awscli

before_script: sed -i -e "s/(def omdb-api-key nil)/(def omdb-api-key \"$OMDBKEY\")/g" src/cljs/movie_list/config.cljs
script: lein cljsbuild once min

