.container {
  display: flex;
  flex-flow: row wrap;
}

.container > * {
  flex: 1 33%;
}

@media all and (min-width: 600px) {
  .container > * { flex: 1 100%; }
}

@media all and (min-width: 800px) {
  .container > * { flex: 1 33%; }
}